<.simple_form :let={f} for={@changeset} action={~p"/items"}>
  <.input
    field={{f, :text}}
    type="text"
    placeholder="what needs to be done?"
    name="input_item"
    value=""
  />
  <:actions>
    <.button style="display:none">Save Item</.button>
  </:actions>
</.simple_form>
